<!DOCTYPE html>
<html lang="zh-CN" ng-app="app" ng-strict-di="true">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title></title>
    <link href="webxr-view/styles.css" rel="stylesheet">
</head>

<body>
    <app class="layer"></app>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.5.0.js"></script>
    <script type="text/javascript" src="webxr-view/config-env.js"></script>
    <script type="text/javascript" src="webxr-view/bundle-main.js"></script>
</body>

</html>